 
  <body> 
    <div class="main-div">
     
   
</div>
 

<div class="work space">
  <h1>Welcome to my app</h1>
    <p>GitHub need to be initialized</p>
  </div>
  
 
</body>
  
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        
      </button>
      <span>My App changes inside Git</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    
    
 