 <html>
  <body> 
    <div class="main-div">
     
   
</div>
 

<div class="work space">
  <h1>Welcome to my app</h1>
    <p>GitHub need to be initialized</p>
  </div>
  
 
</body>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        
    </mat-toolbar>
    

 </html>